html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding-bottom: 10%;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
    margin-top: 10px;
}

/* Add a gray background color and some padding to the footer */

p{
    font-size: 20px;
    font-family: "Helvetica", serif;
}
a{
    font-family: "Helvetica", serif;
}
h1{
    font-family: "Helvetica", serif;
}
body{
    border-color: #3c3c3c;
    min-height: 100%;
}
footer{

    background-color: black;
}
#con{
    padding-top:20%;

}
#facebook{
    color: white;
    margin-right: 8px;
    margin-top: 10px;
}
a:hover #facebook{
    color:blue;
}
#instagram{
    color: white;
    margin-right: 8px;
    margin-top: 10px;

}
a:hover #instagram{
    color:lightcoral;

}
#youtube{
    color: white;
    margin-right: 8px;
    margin-top: 10px;
}
a:hover #youtube{
    color:red;

}
#twitch{
    color: white;
    margin-right: 8px;
    margin-top: 13px;
}
a:hover #twitch{
    color:rebeccapurple;
}
