body{
    background-color: #f7f7f7;
}
.bgimg-1
 {
    padding: 15%;
    color: #fff;
     background-image: url("/storage/cover_images/F1.jpg") fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
p{
    text-align: center;
    color: black;
}

#def
{
    color: white;
}
#info
{
    margin-top: 2%;
    background-color: #2b542c;
}
#partners{
    padding-top: 1%;
}
#partners_well
{
    background-color: #1b6d85;
}
#shopping{
    font-family: Helvetica, serif;
    color: white;
}
#products{
    font-family: Helvetica, serif;
    color: white;
}
#profit{
    font-family: Helvetica, serif;
    color: white;
}
#partnersH1{
    font-family: Helvetica, serif;
    color: white;
}