body{

}
.container{
    }
#OnLeft
{
    margin-right: 10px;
    background-color: Green;
}
#OnRight {
background-color:Red;
}
#OnCenter{
background-color: Blue;
}
.well-lg{


    background-color: yellow;
    border-color: red;

}
h6.pull-left{
    margin-top: 0;
    margin-bottom: 50px;
}
h6.pull-right{
    margin-top: 10px;
}
h1#log_in{
    text-align: center;
    font-family: Georgia;
    margin-bottom: 100px;
}
img#netW{
    margin-right: 50px;
    margin-left:100px ;
    margin-bottom: 50px;
    margin-top: 50px
}
a{
    color: #f85c37;
}
a.navbar-brend{
    font-size: 35px}
