
p{
    font-size: 20px;
    font-family: "Helvetica", serif;
}
a{
    font-family: "Helvetica", serif;
}
h1{
    font-family: "Helvetica", serif;
}
body{
    border-color: #3c3c3c;
}

body{
  }
#user{
    color: black;
    margin: 10%;
}
#user:hover{
    color: white;
    background-color: transparent;
}
#admin{
    margin: 10%;
}
#admin:hover{
    color: white;
    background-color: transparent;
}
#dif{
    border-left-color: black;
    border-left-width: 20px;
}
#vl {
    border-right: 2px solid black;
    height: 700px;
    margin-right: 50%;


}
#img1{
    margin-top: 150%;
}
#img2{
    margin-top: 150%;
}